#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - inc/constants.php
    paths:
        - inc/
    ignoreErrors:
        # Uses func_get_args()
        # - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # - '#^Parameter \#1 \$text of function esc_attr expects string, mixed given\.$#'

# See full example in phpstan-full.neon
