
.themer-nav-title {
	font-size: 13px;
	font-weight: 600;
	text-transform: capitalize;
}

.nav-top {
	display: flex;
	align-items: center;
	button {
		margin-right: 20px;
		font-weight: 800px;
		font-size: 13px;
	}
}

.field-header {
	text-transform: capitalize;
}