.themer-fields {
	height: 100vh;
	overflow: auto;
}

.components-tab-panel__tabs {
	border-bottom: #ccc 1px solid;
}

.themer-tab-panel button {
	font-weight: 400;
}

.active-themer-tab {
	border-bottom: #3858e9 1.5px solid;
	font-weight: 600 !important;
}

/*
 * This is a workaround to enable sticky positioning for the style preview.
 * It overrides a dynamic class being added by the WP NavigatorProvider
 */
.App{
	.components-navigator-provider{
		overflow-x: unset;
	}
}
