.themer-preview-container {
  width: 729px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  height: 1200px;
}

.themer-preview-square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: #ccc 1px solid;
}

.themer-preview-circle {
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}