.themerPreviewSquare{
	width: 480px;
	height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.themerPreviewColours {
	width: 32px;
	padding-left: 24px;
}
.themerPreviewCircle {
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #000000;
	border-radius: 50%;
	display: inline-block;
}

.themerPreviewText {
	font-size: 64px;
}

