.themer-preview-container {
  min-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;


  .editor-styles-wrapper {
    max-width: 768px;
    min-height: 754px;
    border: #ccc 1px solid;
  }
}

.themer-preview {
	.components-popover,
	.block-editor-rich-text__inline-format-toolbar,
	.components-accessible-toolbar {
		display: none !important;
	}
}

.themer-responsive-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.themer-responsive-button {
  border: none;
}

