.themer-breadcrumbs {
	display: flex;
	gap: 1em;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;
	text-wrap: nowrap;
	overflow: auto;
	&:empty {
		display: none;
	}
}
.themer-breadcrumbs__item {
	display: flex;
	gap: 1em;
	align-items: center;
}

.themer-breadcrumbs__item__label {
	text-decoration: none !important;
	text-transform: capitalize;
}

.themer-breadcrumbs__item__label--active {
	color: var(--wp-admin-theme-color);
	font-weight: 500;
}
