.themer-breadcrumbs {
	display: flex;
	gap: 1em;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;
	text-wrap: nowrap;
	overflow: auto;
	&:empty {
		display: none;
	}
}
.themer-breadcrumbs__item {
	display: flex;
	gap: 1em;
	align-items: center;
}

.themer-breadcrumbs__item__button {
	text-decoration: none !important;
	text-transform: capitalize;
}

.themer-breadcrumbs__item__button:disabled {
	opacity: 1;
	font-weight: 500;
}

.themer-breadcrumbs__item__button:not(:disabled) {
	color: var(--wp-components-color-foreground, #1e1e1e);
}
